
a {
	color: #666666;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

/* Header */

.meta {
	margin: 0;
	padding: 10px 0 15px 20px;
	border-top: 1px solid #F3F3F3;
}

.meta a {
	text-decoration: none;
}

.meta a:hover {
	text-decoration: underline;
}

.meta .more {
	padding-left: 12px;
	background: url(images/img09.gif) no-repeat left center;
}

.meta .comments {
	padding-left: 15px;
	background: url(images/img10.gif) no-repeat left center;
}

.timer
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 18px;
	width: 98%;			
	color:Gray;
	border-style:none;
}
.title
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 19px;
	color:Gray;	
	letter-spacing: 0.5px;
}
.Db-line {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dbe6ed;
	padding-top: 0px;
}
.calenderDET
{	
	font-family: Verdana, Helvetica, sans-serif;
	border-bottom: 1px solid #F3F3F3;
	margin: 0;
	letter-spacing: -1px;
	font-size: 11px;
	color:Gray;
}
.calenderFOT
{
	font-family: Verdana, Helvetica, sans-serif;
	/*width: 202px;	*/
	height: 5px;
	margin: 0;
	padding: 10px 0 0 10px;
	/*background: url(images/img16_225.gif) no-repeat;*/
	letter-spacing: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}
.projectCont
{	
   height: 180px;
   width: 635px;	
   white-space:nowrap;
   overflow:Auto;
}
.performanceCont
{
	
	height: 193px;	
	overflow:Auto;
   white-space:nowrap;
}
.projectDET
{	
	font-family: Verdana, Helvetica, sans-serif;	
	/**/		
	border-bottom: 1px solid #F3F3F3;
	margin: 0;
	padding: 5px 0 0 10px;	
	letter-spacing: 0px;
	font-size: 11px;
	color:Gray;
	overflow:scroll;
}
.projectFOT
{
	font-family: Verdana, Helvetica, sans-serif;	
	border-bottom: 1px solid #F3F3F3;
	height: 5px;
	margin: 0;
	padding: 10px 0 0 10px;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.stageTXT
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;	
	text-decoration: none;
	align:center;
	color: #FFFFFF; 
	width:auto;
}

.taskDET
{	
	font-family: Verdana, Helvetica, sans-serif;	
	height: 115px;
	margin: 0;
	padding: 10px 0 0 10px;
	vertical-align:text-bottom;	
	letter-spacing: 0px;
	font-size: 11px;
	color: Gray;
}

.taskFOT
{
	font-family: Verdana, Helvetica, sans-serif;	
	height: 5px;	
	padding: 10px 0 0 10px;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.viewAll
{
	font-family: Verdana, Helvetica, sans-serif;	
	border-bottom: 1px solid #F3F3F3;
	height: 13px;
	padding-left:220px;
	letter-spacing: 0px;	
	font-size: 12px;	
	color: #FFFFFF;
}

.projectHOMECont
{
	width: 760px;
	height: 55px;	
	overflow:auto;
   white-space:nowrap;
}
.showButton
{
	background: url(images/arrow-down.gif) no-repeat;
}
