{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" title="standard-css1" />
    <link href="/static/css/forms.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/tablesorter-theme-blue.css" type="text/css" media="print, projection, screen" />
{% endblock %}
{% block script %}
    <script type="application/javascript" language="JavaScript" src="/static/js/Validation.js"></script>
    <script type="application/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
    <script type="application/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
{% endblock %}
{% block taskmenus %}{% endblock %}
{% block contentdata %}
<style>
    .project { width: 100%;  }
    .list-header { width: 100%; padding-top: 10px; }
    .create-project { padding-top: 10px; padding-bottom: 10px; width: 100%; }
    #create-project { float: right; }
    .message { width: 100%; text-align: center; height: 20px; }
    .project-header-panel { width:100%;  }
    .project-list-header, .project-column {width: 0%; padding-top: 100px;  }
    .project-content { width:100%; }
    .footer { width: 100%; padding-top: 60px; }
    .delete-project {float: left; }
    .page-number{ float: right; }
</style>
<script>
$(document).ready(function(){
    $('#projects').tablesorter();
});
</script>
<div style="float:left;">
<h3>Recent Updates</h3>
</div>
    <table id="projects" class="tablesorter">
        <thead class="project-header-panel">
            <tr>
		<th class="project-list-header header link-line-bg con-white-bold">Release.No</th>
                <th class="project-list-header header link-line-bg con-white-bold">Date</th>
                <th class="project-list-header header link-line-bg con-white-bold">Update</th>
            </tr>
        </thead>
            <tbody>
      	<tr class="project-content">
                    <td class="project-column">
			27
		    </td>
		    <td class="project-column">
			29/12/16
		    </td>
		    <td class="project-column">
			Allow users to create "Task" without providing "Sub Task" Fixed issues
		    </td>
		</tr>
        <tr class="project-content">
                    <td class="project-column">
			26
		    </td>
		    <td class="project-column">
			29/12/16
		    </td>
		    <td class="project-column">
			Same "task name" can be Assigned/Create mulitiple resources
		    </td>
		</tr>
        <tr class="project-content">
                    <td class="project-column">
			25
		    </td>
		    <td class="project-column">
			29/12/16
		    </td>
		    <td class="project-column">
			Announcemnet "Cancel" button are redirected to announcements list
		    </td>
		</tr>
        <tr class="project-content">
                    <td class="project-column">
			24
		    </td>
		    <td class="project-column">
			29/12/16
		    </td>
		    <td class="project-column">
			Announcements "Rejection" button are enabled with rejection Message/E-mail
		    </td>
		</tr>
        <tr class="project-content">
                    <td class="project-column">
			23
		    </td>
		    <td class="project-column">
			29/12/16
		    </td>
		    <td class="project-column">
			Allowed "New user" creation with any valid e-mail address
		    </td>
		</tr>
		<tr class="project-content">
                    <td class="project-column">
			22
		    </td>
		    <td class="project-column">
			24/09/14
		    </td>
		    <td class="project-column">
			Fixed the Role Permission and Reporting Manager Bugs
		    </td>
		</tr>
		<tr class="project-content">
                    <td class="project-column">
			21
		    </td>
		    <td class="project-column">
			09/11/10
		    </td>
		    <td class="project-column">
			Added "Mobile No" column to the 5G Address book
		    </td>
		</tr>
		<tr class="project-content">
                    <td class="project-column">
			20
		    </td>
		    <td class="project-column">
			01/11/10
		    </td>
		    <td class="project-column">
			Removed the '5G Address Book" link from apex body owners account
		    </td>
		</tr>
		<tr>
                    <td class="project-column">
			19
		    </td>
		    <td class="project-column">
			01/11/10
		    </td>
		    <td class="project-column">
			Added file management link in the sidemenu of the Mindshare.
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			18
		    </td>
		    <td class="project-column">
			28/10/10
		    </td>
		    <td class="project-column">
			Changed the login screen of Mindshare
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			17
		    </td>
		    <td class="project-column">
			28/10/10
		    </td>
		    <td class="project-column">
			Provided link for IdeaExchange
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			16
		    </td>
		    <td class="project-column">
			19/10/10
		    </td>
		    <td class="project-column">
			Created link for viewing the recent updates of mindshare 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			15
		    </td>
		    <td class="project-column">
			19/10/10
		    </td>
		    <td class="project-column">
			Created an option for rejecting the initiated project with reason
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			14
                    </td>
		    <td class="project-column">
			15/10/10
		    </td>
		    <td class="project-column">
			Removed the "Leave policy" from 5GPAL content and replaced the old HR policy with new one 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			13
		    </td>
		    <td class="project-column">
			12/10/10
		    </td>
		    <td class="project-column">
			In announcements, created "Waiting for approval" status for the superuser
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			12
		    </td>
		    <td class="project-column">
			12/10/10 
		    </td>
		    <td class="project-column">
			Fixed the Problem of Mindshare in functioning in VPN.
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			11
		    </td>
		    <td class="project-column">
			05/10/10
		    </td>
		    <td class="project-column">
			Modified the screen to avoid the collision of the the missing field error message with the first field of the project initiation form 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			10
		    </td>
		    <td class="project-column">
			30/09/10
		    </td>
		    <td class="project-column">
			Modified the screen to not to display the project name with numbers while initializing or approving some project 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			9
		    </td>
		    <td class="project-column">
			27/09/10  	 
		    </td>
		    <td class="project-column">
			Modified the subject of the announcement approval mail 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			8
                    </td>
		    <td class="project-column">
			23/09/10
		    </td>
		    <td class="project-column">
			Fixed the bug of timesheet in time range variation 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			7
		    </td>
		    <td class="project-column">
			17/09/10 
		    </td>
		    <td class="project-column">
			Created a template for announcing the new announcement arrival through mail 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			6
		    </td>
		    <td class="project-column">
			14/09/10 
		    </td>
		    <td class="project-column">
			Fixed the bug in FxCop rules page which showed an error page previously 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			5
		    </td>
		    <td class="project-column">
			08/09/10 
		    </td>
		    <td class="project-column">
			Added the address book link at the sidemenu of the Mindshare. 
		    </td>
		</tr>
		<tr>
		    <td class="project-column">
			4
		    </td>
		    <td class="project-column">
			07/09/10
		    </td>
		    <td class="project-column">
			Fixed the bug in calculating total time spent while entering any task at 12am of a day.
		    </td>
		</tr>
		<tr>
                    <td class="project-column">
			3
		    </td>
		    <td class="project-column">
			03/09/10
		    </td>
		    <td class="project-column">
			Displayed the name of the project in Daywise Timesheet
		    </td>
		</tr>
		<tr>
                    <td class="project-column">
			2
		    </td>
		    <td class="project-column">
			29/08/10
		    </td>
		    <td class="project-column">
			Created alert message to the task entries if those project's alloted time or date is exceeded.
		    </td>
		</tr>
		<tr>
                    
		    <td class="project-column">
			1
		    </td>
		    <td class="project-column">
		    	18/08/10
		    </td>
		    <td class="project-column">
                        Displayed the last 10 tasks of an user at the RHS of the Timesheet 
		    </td>
		    
		</tr>
            </tbody>
    </table>
{% endblock %}